<div id="contactUsForm" class="container">
        <h3 class="display-4" style="text-align: center;"><strong>Contact Us</strong></h3>
        <form>
                <div class="form-group">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" id="lasttName" placeholder="Last Name">
                </div>
                <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                <label for="Comments">Comments</label>
                <textarea class="form-control" id="Comments" rows="3"></textarea>
                </div>
        </form>
</div>
