
<section id="bottom">
                            <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="row">
                            <div class="col-md-3 col-sm-6">
                            <div class="widget">
                            <h3>Information</h3>
                            <ul>
                            <li><a href="#">Prayer</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Ramadan</a></li>
                            <li><a href="#">Eid</a></li>
                            <li><a href="#">Youth Group</a></li>
                            <li><a href="#">Classes</a></li>
                            </ul>
                            </div>
                            </div>
</section>
            <footer id="footer" class="midnight-blue">
            <div class="container">
            <div class="row">
            <div class="col-sm-6">
            <ul class="pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About Usfdsadf</a></li>
            <li><a href="/prayers">Prayers</a></li>
            <li><a href="/contactus">Contact</a></li>
            </ul>
            </div>
            </div>
            </div>
            </footer>
            <script src="/js/jquery.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/jquery.prettyPhoto.js"></script>
            <script src="/js/jquery.isotope.min.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/wow.min.js"></script>
        </body>
    </html>