<!DOCTYPE html>
<html>
    <head>
        <title>Masjid Omar</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="height: 5em">
                    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Prayer Times</a>
                            </li>
                            <li class="nav-item dropdown m-r-1">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            About Us
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
                        <a class="mx-auto" href="#">
                            <h2 style="color: white;">Omar Masjid</h1>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                        <ul class="navbar-nav mr-auto text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="#">Link3</a>
                            </li>
                        </ul>
                    </div>
            </nav>
            <div class="prayer-table">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Fajr</th>
                        <th scope="col">Zuhr</th>
                        <th scope="col">Asr</th>
                        <th scope="col">Maghrib</th>
                        <th scope="col">Isha</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>5:30</th>
                        <td>1:30</td>
                        <td>6:00</td>
                        <td>7:50</td>
                        <td>9:00</td>
                    </tr>
                    </tbody>
                </table>
            </div>