<% include partials/header %>

    <div id="mainCarousel"class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1" ></li>
            <li data-target="#mainCarousel" data-slide-to="2" ></li>
        </ol>
        <div class="carousel-inner"  role="listbox">
            <div class="carousel-item active" style>
                <div class="carouselImage">
                    <img class="d-block w-100" src="/imgs/omarMasjid1.jpg" alt="First Slide" >
                </div>                
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h1 class=" display-1 font-weight-bold">Welcome to Omar Masjid</h1> 
                        <p class="display-3">Home For All</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="carouselImage">
                    <img class="d-block w-100" src="/imgs/omarMasjid2.jpg" alt="Second Slide">
                </div>  
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h1 class="display-1 font-weight-bold">Second Slide</h1> 
                        <p class="display-3">Home For All</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                    <div class="carouselImage">
                        <img class="d-block w-100" src="/imgs/omarMasjid3.jpg" alt="Third Slide">
                    </div>    
                    <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                        <div>
                            <h1 class="display-1 font-weight-bold">Third Slide</h1> 
                            <p class="display-3">Home For All</p>
                        </div>
                    </div>
            </div>
            <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div class="card-deck justify-content-around">
        <div class="card">
          <img src="/imgs/Quran1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Quran Classes</h5>
            <p class="card-text">Quran Classes.</p>
            <a class="btn btn-primary">Learn More</a>
          </div>
        </div>
        <div class="card">
          <img src="/imgs/masjid2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Congregrational Prayers</h5>
            <p class="card-text">Along with the Five Dailiy Prayers, Masjid Omar Also offers Taraweh Prayers, as well as Eid Prayers</p>
            <a class="btn btn-primary">Prayer Timing</a>
          </div>
        </div>
        <div class="card">
          <img src="/imgs/randomMasjid.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Girls and Boys Youth Group</h5>
            <p class="card-text">Weekend Girls And Boys Youth Grousps</p>
            <a class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <% include partials/contactus-form %>
<% include partials/footer %>