
<% include partials/header.ejs %>
<section id="feature" class="transparent-bg">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Masjid Umar Prayer Times</h2>
            <p class="lead">Come Join Us Fro Prayer</p>
        </div>
        <div class="prayertable">
        <div class="row">
                <div class="features">
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <div class="prayer-times2 shadow-box" style="width: 100%;"><h3>Prayer Times</h3></div>
                            </div>
                        </div>
                </div>
        </div>
        </div>  
    </div>
</section>

<% include partials/footer.ejs %>